a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont,
bdi, bdo, big, blockquote, body, br, button, canvas, caption, center, cite, code ,
colgroup, data, datalist, dd, del, details, dfn, dialog, dir, dl, dt, em, embed  ,
fieldset, figcaption, figure, font, footer, form, frame, frameset, h1, h2, h3, h4   ,
h5, h6, header, hr, html, i, iframe, img, input, ins, kbd, label, legend, li     ,
link, main, map, mark, menu, menuitem, meter, nav, noframes, object, ol, optgroup,
option, output, p, picture, pre, q, rp, rt, ruby ,s, samp, section, small, span  , 
strike, strong, sub, summary, sup, svg, table, tbody, td, textarea, tfoot, th    , 
thead, time, tr, tt, u, ul, video, wbr /***************************************/ {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    line-height: 1;
    background: #fff;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, legend, menu, nav, section /*****/ {
    display: block;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {white-space: normal;}
:focus {outline: none;}
a {text-decoration: none;}
a:active, a:focus, a:hover {outline: none;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote::after,
q::before, q::after /*************/ {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}
img, svg {
    max-width: 100%;
    height: auto;
}
address {font-style: normal;}
audio, canvas, video {
    display: inline-block;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {display: none;}
button, input, select, textarea {color: #1d1d1d;}
input::-ms-clear {display: none;}
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="search"] {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
} 
input[type="submit"], input[type="reset"], input[type="button"],
button /****************************************************/ {
    border: 0;
    padding: 0;
    display: inline-block;
    box-shadow: none;
    background: transparent;
    line-height: normal;
    cursor: pointer;
}
button, select {text-transform: none;}
input:focus, input:active,
button:focus, button:active {
    outline: none;
}
button[disabled], input[disabled] {cursor: default;}
